<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <nav class="nav-bar">
      <div>
        <h1><a class="nav-title" href="/quotes">QUOTIFY</a></h1>
        <p>Share Quotes. Get inspired</p>
      </div>
      <button><a href="/quotes/create">Create a Quote</a></button>
    </nav>
  </body>
</html>
